<%- include('partials/header') %>


<div class="main-icon">
  <span><i class="fas fa-book-open"></i></span>
</div>


<div >
  <h1 class="wel-msg">Welcome to Your Own Personal Space ... </h1>

  <hr class="card-seperator">
  <div class="wel-but">
    <form action="/register" method="get" class="form-in-f">
      <button type="submit" class="button-a but-wl">Register</button>
    </form>
    <form action="/login" method="get" class="form-in-f">
      <button type="submit" class="button-a but-wl">Login</button>
    </form>
  </div>

  <hr class="card-seperator">
</div>
<div class="wel-msg-2">
  <p class="form-in-f">Write your day!</p>
</div>

<%- include('partials/footer') %>